
@model List<Product>
<div class="container">
    <div class="row pt-2 pb-2 ">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h3>Books</h3>
            
        </div>
    </div>
</div>
<div class="container">
    @* <div class="row pt-2 pb-2 mb-2" style="border:1px solid white">
    <div class="col-2 d-flex align-items-center justify-content-center">
    Book title
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
    Description
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
    ISBN
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
    Author
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
    Price
    </div>
    <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
    Order
    </div>
    </div> *@
    @foreach (var obj in Model)
    {

        <div class="row pt-2 pb-2 mb-1" style="border:1px solid white">
            <div class="col-md-3">
                <img src="@obj.imageUrl" style="height:300px;width:auto;" />
            </div>
            <div class="col-md-8">
                <p class="h1"> @obj.BookTitle</p>
                <p clsss="" style="max-width:80%">@Html.Raw(@obj.Description)</p>
                <p clsss="" style="max-width:80%">@obj.ISBN</p>
                <p class="d-flex align-items-center mt-0 me-0">
                    <span class="" style="font-size:25px">By</span>
                    <span class="display-4 ms-2">@obj.Author</span>
                </p>
                <p class="h1 ms-0">$ @obj.Price</p>
                <p class="d-flex m-0 p-0" style="width:50%">
                    <a asp-action="Edit" asp-route-id="@obj.BookId" class="btn btn-primary w-100">Add to Cart</a>
                    <button type="button" class="btn btn-info w-100 ms-1" data-bs-toggle="modal" data-bs-target="#modal" onclick="openModal(@obj.BookId)">Buy</button>
                </p>
            </div>
            @* <div class="col-2 d-flex align-items-center justify-content-center">
        @obj.BookTitle
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
        @obj.Description
        </div>
        <div class="col-2 d-flex " style="border-left:1px solid white">
        @obj.ISBN
        </div>
        <div class="col-2 d-flex " style="border-left:1px solid white">
        @obj.Author
        </div>
        <div class="col-2 d-flex " style="border-left:1px solid white">
        @obj.Price
        </div>

        <div class="col-2 d-flex " style="border-left:1px solid white">
        @obj.category.Name
        </div> *@
            @*     <div class="col-2 d-flex align-items-center justify-content-center">
        <a asp-action="Edit" asp-route-id="@obj.BookId" class="btn btn-info w-100">Edit</a>
        <button type="button" class="btn btn-info w-100" data-bs-toggle="modal" data-bs-target="#modal" onclick="openModal(@obj.BookId)">Delete</button>
        </div> *@

        </div>
    }
